In [1]:
import pandas as pd
import numpy as np
import os

from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = 'source/kilm07.xlsx'

In [28]:
data = pd.read_excel(source, skiprows=2, sheetname='KILM 07b')

In [29]:
data.head()

,Country (code),Country,Region,Sub-region (broad),Sub-region (detailed),Income group (code),Income group,B,Year,Annual number of hours actually worked per person,Repository (code),Repository,Type of source (code),Type of source,Coverage (code),Coverage,Coverage (employment) (code),Coverage (employment),Survey limitation,Notes
0,ARG,Argentina,Americas,Latin America and the Caribbean,South America,IV,High income,NaN,1990,2013,LIMA,Labour Overview (various years),HS,Household or labour force survey,T,Total,TE,Total employment,NaN,NaN
1,ARG,Argentina,Americas,Latin America and the Caribbean,South America,IV,High income,NaN,1997,2017,LIMA,Labour Overview (various years),HS,Household or labour force survey,T,Total,TE,Total employment,NaN,NaN
2,ARG,Argentina,Americas,Latin America and the Caribbean,South America,IV,High income,NaN,1999,1820,LIMA,Labour Overview (various years),HS,Household or labour force survey,T,Total,TE,Total employment,NaN,NaN
3,ARG,Argentina,Americas,Latin America and the Caribbean,South America,IV,High income,b,2012,2048,NSO,National Statistics Office,LFS,Labour force survey,T,Total,TE,Total employment,NaN,Average hours actually worked per week annuali...
4,ARM,Armenia,Europe and Central Asia,Central and Western Asia,Western Asia,II,Lower-middle income,NaN,2009,1826,NSO,National Statistics Office,HS,Household or labour force survey,T,Total,TE,Total employment,NaN,Annual hours worked calculated on the basis of...

In [30]:
data.columns

Index(['Country (code)', 'Country', 'Region', 'Sub-region (broad)',
       'Sub-region (detailed)', 'Income group (code)', 'Income group', 'B',
       'Year', 'Annual number of hours actually worked per person',
       'Repository (code)', 'Repository', 'Type of source (code)',
       'Type of source', 'Coverage (code)', 'Coverage',
       'Coverage (employment) (code)', 'Coverage (employment)',
       'Survey limitation', 'Notes'],
      dtype='object')

In [5]:
# country

In [31]:
country = data[['Country (code)', 'Country']].drop_duplicates().copy()

In [32]:
country.columns = ['country', 'name']

In [33]:
country['country'] = country['country'].map(to_concept_id)

In [34]:
country.to_csv('../ddf--entities--country.csv', index=False)

In [15]:
# concepts

In [37]:
discs = ['Name', 'Year', 'Country']

conc = ['Annual number of hours actually worked per person']

In [38]:
cdf = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

cdf['name'] = [*discs, *conc]

cdf['concept'] = cdf['name'].map(to_concept_id)

In [39]:
cdf.loc[3, 'concept_type'] = 'measure'
cdf.loc[0, 'concept_type'] = 'string'
cdf.loc[1, 'concept_type'] = 'time'
cdf.loc[2, 'concept_type'] = 'entity_domain'

In [40]:
cdf

,concept,name,concept_type
0,name,Name,string
1,year,Year,time
2,country,Country,entity_domain
3,annual_number_of_hours_actually_worked_per_person,Annual number of hours actually worked per person,measure

In [41]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [ ]:
# datapoints

In [42]:
dps = data[['Country (code)','Year', *conc]].copy()

In [43]:
dps.columns = ['country', 'year', *[to_concept_id(x) for x in conc]]

In [44]:
dps['country'] = dps['country'].map(to_concept_id)

In [47]:
dps.to_csv('../ddf--datapoints--annual_number_of_hours_actually_worked_per_person--by--country--year.csv', index=False)

In [24]:
import ddf_utils.ddf_reader as ddf

In [25]:
ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder/'

In [45]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'working_hours_per_week').head()

   geo  working_hours_per_week  time
0  arg                   38.71  1990
1  arg                   38.79  1997
2  arg                   35.00  1999
3  aus                   34.58  1980
4  aus                   34.58  1981